<!DOCTYPE html>
<html lang="es">

<form action="" method="get">
  <ul>
    <li>
      <label for="date_from">From:</label>
      <input type="date" name="date_from" id="date_from" value="{{ date_from }}">
    </li>
    <li>
      <label for="date_to">To:</label>
      <input type="date" name="date_to" id="date_to" value="{{ date_to }}">
    </li>
    <li>
      <button type="submit">Filter</button>
    </li>
  </ul>
</form>

<table>
  <tr>
    <th>Bank</th>
    <th>Account</th>
    <th>Kind</th>
    <th>Balance</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td>{{ account.bank.name }}</td>
    <td>{{ account.name }}</td>
    <td>{{ account.get_kind_display }}</td>
    <td>$1,000.00</td>
  </tr>
  {% endfor %}

</table>


</html>
